@font-face {
	font-family: Kiona;
	src: url("../fonts/Kiona-Regular.ttf");
}

body {
	font-family: Kiona;
	color: white;
}

.page {
	background-color: #000;
	transition: 1s;
}

.page-white {
	background-color: #000;
	transition: 1s;
}

.page-content {
	width: 100%;
	padding: 60px 10%;

	height: auto;
}

.page-content-mobile {
	width: calc(100% - 20px);
	padding: 60px 10px;
}
