.reels {
	position: relative;
	width: 100%;
	height: 100vh;
}

.reels-content {
	position: absolute;
	text-align: center;
	z-index: 5;

	width: calc(100% - 60px);
	height: 200px;
	margin-left: 30px;
	margin-right: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: calc(100vh / 2 - 100px);

	filter: invert(1);

	opacity: 0;
	transition: .5s;
}

.reels-content-shown {
	opacity: 1;
}

.reels-reel {
	position: absolute;
	width: 33%;
	height: 100%;
	left: -34%;

	overflow: hidden;

	opacity: 1;
}

.reels-video {
	height: 100%;
	width: 177.77778vh;
	min-width: 100vw;
	min-height: 56.25vw;
	left: 50%; /* % of surrounding element */
	top: 50%;
	transform: translate(-50%, -50%); /* % of current element */


	position: absolute;
}

@media (orientation:landscape) {

}

#reels-video-1 {
	left: calc(150%);
}

#reels-video-2 {
	left: calc(50%);
}
#reels-video-3 {
	left: calc(-49%);
}

.reels-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 1s;
}

#reels-overlay-one {
	background-color: rgba(255, 255, 255, 0);
}
#reels-overlay-two {
	background-color: rgba(255, 255, 255, 0);
}
#reels-overlay-three {
	background-color: rgba(255, 255, 255, 0);
}

.reels-overlay-none {
	background-color: rgba(0, 0, 0, 0) !important;
}


.reel-one {
	width: 33%;
	z-index: 1;

	transition: .5s;
}

.reel-one-shown {
	left: 0%;
}

.reel-two {
	z-index: 2;
	width: 33%;

	transition: .7s;
}

.reel-two-shown {
	left: 33%;
}

.reel-three {
	z-index: 3;
	width: 34%;

	transition: .9s;
}

.reel-three-shown {
	left: 66%;
}

.reel-main {
	width: 100%;
	z-index: 4;
	left: 0%;
	opacity: 0;
}

.reel-main-shown {
	left: 0%;
	z-index: 4;
	opacity: 1;
}
