.about-me {
	padding: 50px 10%;
	text-align: left;
}

.about-me-title {
	font-weight: 800;
	font-size: 30px;
	width: 100%;
	margin-bottom: 40px;
}

.about-me-photograph {
	width: 240px;
	height: 240px;
}

.about-me-paragraph {
	font-size: 18px;
	line-height: 1.6;
}

@media screen and (max-width: 600px) {
	.about-me {
		padding: 25px 25px;
	}
}
