.aboutme-image {
	width: 100%;
	height: auto;

	max-width: 300px;

	padding-top: 15px;

	font-size: 70px;
}

.aboutme-content {
	padding-left: 25px;
}

.aboutme-title {
	font-weight: bold;
	font-size: 50px;
	color: rgb(255, 255, 255, 1);
}

.aboutme-title-mobile {
	font-size: 40px;
}

.aboutme-summary {
	font-weight: 100;
	font-size: 24px;
	line-height: 1.8;
	font-weight: bold;
	color: rgb(255, 255, 255, .6);
}

.aboutme-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 2.0;
	color: rgb(255, 255, 255, .8);
	padding-right: 10px;
}
