.loading {
	opacity: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #000000;
}

.loading-gif {
	position: fixed;
	width: 600px;
	height: 338px;
	left: calc(50vw - 300px);
	top: 30%;
}

.loading-gif-mobile {
	width: 100%;
	height: auto;
	left: 0px;
	top: 30%;
}
