.portfolio-header {
	font-size: 48px;
	margin-bottom: 15px;
}

.portfoliocard {
	margin-top: 15px;
	min-height: 100px;
}

.portfoliocard-header {
	font-size: 40px;
	font-size: 20px;
	font-weight: bold;
}

.portfoliocard-image {
	max-height: 160px;
	height: 125px;
	display: block;
	margin: auto;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.portfoliocard-content {
	font-family: "Open Sans";
}

.collabcard-content {
	margin-top: 15px;
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
	font-style: italic;
	margin-bottom: 25px;
}
