.portfolio-header {
	font-size: 48px;
	margin-bottom: 15px;
}

.portfoliocard {
	margin-top: 15px;
	min-height: 100px;
}

.portfoliocard-header {
	font-size: 40px;
	font-size: 20px;
	font-weight: bold;
}

.portfoliocard-image {
	max-height: 160px;
	width: auto;
	display: block;
	margin: auto;
	text-align: center;
}

.portfoliocard-content {
	font-family: "Open Sans";
}
