.reels {
	position: relative;
	width: 100%;
	height: 100vh;
}

.reels-reel {
	position: absolute;
	width: 100%;
	height: calc(33%);
	top: calc(-34% - 50px);

	overflow: hidden;

    clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
}

.reels-video {
	height: auto;
	width: 100%;

	position: absolute;
	top: -25%;
}

.reel-one {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	height: calc(33% + 25px);
	z-index: 1;

	transition: .5s;
}

.reels-overlay-one {
	position: absolute;
	background-color: rgba(255, 0, 0, .15);
	width: 100%;
	height: 100%;
}

.reel-one-shown {
	top: 0%;
}

.reel-two {
	z-index: 2;
	height: calc(33% + 50px);

	transition: .7s;
}

.reels-overlay-two {
	position: absolute;
	background-color: rgba(0, 255, 0, .15);
	width: 100%;
	height: 100%;
}

.reel-two-shown {
	top: calc(33% - 25px);
}

.reel-three {
	z-index: 3;
	height: calc(34% + 25px);

	transition: .9s;
}

.reels-overlay-three {
	position: absolute;
	background-color: rgba(0, 0, 255, .15);
	width: 100%;
	height: 100%;
}

.reel-three-shown {
	top: calc(66% - 25px);
}
