.skills {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.skills-section {
	width: 33.333%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.skills-section-background {
	position: absolute;
	width: inherit;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	height: inherit;
	top: 0%;
	filter: brightness(1);
	transition: .3s;

	z-index: 0;
}

.skills-section:hover .skills-section-background {
	height: calc(100% * 1.2);
	top: calc(100% * -.1);
	filter: brightness(.5);
}

@media (max-width: 900px) {
	.skills {
		height: 800px;
	}

	.skills-section {
		width: 100%;
		height: calc(100% / 3);
	}

	.skills-section-background {
		top: inherit;
		left: 0%;
	}

	.skills-section:hover .skills-section-background  {
		height: inherit;
		top: inherit;
		width: calc(100% * 1.2);
		left: calc(100% * -.1)
	}
}

.skills-section-content {
	position: relative;
	font-weight: bold;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;

	width: 175px;
	height: 175px;
	transition: .3s;
	overflow-y: hidden;
	overflow-x: hidden;
}

.skills-section:hover .skills-section-content {
	width: 225px;
	height: 400px;
}

.skills-section-content-text {
	width: 225px;
	text-align: center;
	margin: auto;
	padding-top: 25px;
	font-size: 18px;

}



@media (max-width: 900px) {
	.skills-section-content {
		width: 175px;
	    white-space: nowrap;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	.skills-section:hover .skills-section-content {
		width: 425px;
		height: 175px;
	}

	.skills-section-content-circle {
		float: left;
		width: 175px;
		height: 175px;
		margin-right: 25px;
		transition: .3s;
	}

	.skills-section:hover .skills-section-content-circle {

	}

	.skills-section-content-text {
		float: left;
	    display: inline-block;    white-space: normal;

	}
}
