.skills-header {
	font-weight: bold;
	font-size: 48px;
	color: white;
	margin-bottom: 25px;
}

.skills-background {
	filter: blur(2px) brightness(1) !important;
}

.skills-wheel {
	width: 100px;
	margin: auto;
	font-weight: bold;
}

.skills-wheel-focused {
	width: 150px;
	margin-top: -25px;
}

.skills-wheel-description {
	margin-top: 25px;
	color: white;
	font-size: 24px;
	margin-bottom: 25px;
}
